{% extends 'wrapper.html.twig' %}
{% block content %}
    <h2 class="text-center">{{ template }} CeasefireMV</h2>
<p>CeaseFireMV is a small, informal group of residents of Martha's Vineyard who call for an immediate permanent
    ceasefire and an end to the Israeli military's genocidal onslaught against the people of Gaza. We object strenuously
    to US military aid to Israel and the use of public funds to finance mass murder.</p>

    <p>We reject the lie that equates criticism of Israeli state policy with antisemitism. A number of CeasefireMV members happen to be Jews, some
of them observant. We regard as profoundly offensive the notion that Judaism should be identified with the conduct of the
Israeli government. While we are not affiliated with <a target="_blank" href="https://www.jewishvoiceforpeace.org/">Jewish Voice for Peace</a>, several of us are JVP members, and we are aligned with
        them on these issues in all respects.</p>
<p>
    If you live on the Cape or Islands and agree with the above, you are welcome to <a href="/join"></a> join us.
</p>
<p>
Opposition to Israel's genocidal war on Palestinians does not imply support for the violence committed by Hamas on October 7.
    We deplore war crimes, atrocities, murder and abduction of civilians, whoever the perpetrators may be and
    whatever their justifications. We are, however, aware of the history of Israel/Palestine, and understand that phenomena like
    Hamas result from objective causes and conditions. These include the ethnic cleansing carried out by the Zionist movement
    attendant to Israel's foundation in 1948; the appalling apartheid conditions and human rights violations to which Palestinians have
    been subjected throughout 75 years of military occupation; and the numerous bombings and massacres carried out against them by
    Israeli forces. No one should be surprised that there should be occasional acts of resistance and violent retaliation.
</p>
<p>
We believe that peace requires full social and political equality for all people living in Palestine/Israel, whatever their
    ethnicity, religion or nationality. The means to that end and the implementation details are not up to the United States
    or anyone else to decide; it is up to the people who live there. However, most CeasefireMV members agree with the
    emerging international opinion that the two-state solution is neither equitable nor feasible. We think the path to peace,
    difficult as it may be, is a single, secular (de-Zionized), democratic, binational state.
</p>
{% endblock %}
