{% extends 'wrapper.html.twig' %}
{% block content %}
    <h2 class="text-center">actions and events</h2>
    <h3 class="p-3 my-4 rounded-3 " style="font-size:larger; background-color: red;color:white;"><strong>Demand a ceasefire!
            Stop the US-backed genocide in Gaza!</strong></h3>
    <p>CeasefireMV holds standouts at the Five Corners intersection in Vineyard Haven on Sunday afternoons at 4:00 pm, rain or shine. Come join us!
        Our next standout at Five Corners will be <strong>{{ standout.nextStandoutDate }}</strong>.</p>
    <img src="" alt="CeasefireMV members standing on the sidewalk holding signs demanding a ceasefire" class="img-fluid">

{% endblock %}
