{% extends 'wrapper.html.twig' %}
{% block content %}
    <h2 class="text-center">{{ template }} and events</h2>
    <p class="lead p-2 alert alert-primary" ><strong>Stand out to demand a ceasefire and an end to the US-backed genocide!</strong></p>
    <p class="alert alert-warning">DEBUG: stand out at {{ standout.startTime }}</p>
    <p>CeasefireMV holds standouts at the Five Corners intersection in Vineyard Haven on Sunday afternoons at 4:00 pm, rain or shine. Come join us!
        Our next standout at Five Corners will be [dynamically updated date].</p>
    <img src="/images/17-dec.5-corners.jpg" alt="CeasefireMV members standing on the sidewalk holding signs demanding a ceasefire" class="img-fluid">

{% endblock %}
