{% extends 'wrapper.html.twig' %}
{% block title %}What is Chabad? | {{ parent() }}{% endblock %}
{% block og_meta %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://mvforpalestine.org/images/og_image.v2.0.png" />
    <meta property="og:title" content="What Is Chabad? — An Open Letter to the MV Times and Vineyard Gazette" />
    <meta property="og:description" content="A Letter to the Editor that our local newspapers declined to publish." />
{%  endblock %}
{% block content %}
    <h2 class="text-center">What is Chabad?</h2>
    <h5>Open Letter to the Martha's Vineyard Times and the Vineyard Gazette</h5>
    <p class="border border-info rounded-2 p-2"><em>Adam Lipsky, a member of MV For Palestine, submitted the following Letter to the Editor
    to the MV Times and the Vineyard Gazette in July 2026. Since neither publication accepted it, we publish it here.</em></p>
   <main>
        <article>
            <p>July 20, 2026</p>
            <p>
                As Chabad on the Vineyard&rsquo;s 4th annual Jewish Cultural Festival approaches, I wanted to
                respond to the paper's past coverage of the Festival.
            </p>

            <p>
                Each year there has been incredible food and entertainment, excellent teachers, and important
                cultural learning opportunities. There has also been some controversy, such as debate on
                attendee capacity, and differing opinions on Israeli government policy. But having grown up on
                the island &ndash; and being an American Jew &ndash; the question that I have not seen answered is the
                basic one: What is Chabad?
            </p>

            <p>
                If you go to <a href="https://en.wikipedia.org/wiki/Chabad" target="_blank" rel="noopener">Wikipedia</a>, it says Chabad is
                &ldquo;among the world's largest, most influential, and most publicly visible movements of Hasidic
                Judaism.&rdquo; On <a href="https://www.chabad.org/library/article_cdo/aid/776104/jewish/What-Is-Chabad.htm" target="_blank" rel="noopener">Chabad.org</a>,
                it says that &ldquo;over 3,500 Chabad institutions are located in more than 100 countries, with a new
                center opening on the average <em>every ten days</em>.&rdquo; (emphasis added.)
            </p>

            <p>
                <a href="https://jewishreviewofbooks.com/articles/233/the-chabad-paradox/#" target="_blank" rel="noopener">Jewish Review of Books</a>
                explains that Chabad is a messianic sect of Hasidic Judaism that follows the teaching of the living
                messiah: the 7th Lubavicher Rebbe (Reh-Beh) Menachem Mendel Schneerson AKA &ldquo;The Rebbe&rdquo;.
                Since the Rebbe&rsquo;s death in 1994, the Chabad world headquarters at 770 Eastern Parkway in Crown
                Heights, Brooklyn (referred to as &ldquo;770&rdquo;) has continued to be a pilgrimage site for Jews across
                the world.
            </p>

            <p>
                There is another side to the organization though which has a distinctly different flavor and
                mission from the strictly religious pretext: an alarming and growing alliance with Israel's
                ultra-nationalist &lsquo;Jewish Power&rsquo; political party &ndash; a party whose leader is the extremist Israeli
                defense minister <a href="https://www.newyorker.com/magazine/2023/02/27/itamar-ben-gvir-israels-minister-of-chaos" target="_blank" rel="noopener">Itamar Ben-Gvir</a>.
                Ben Gvir, besides being an advocate of Jewish settlements in Palestinian territory, is also the
                highest profile <a href="https://www.jpost.com/israel-news/article-873795" target="_blank" rel="noopener">supporter</a> of
                <a href="https://home.treasury.gov/news/press-releases/jy2622" target="_blank" rel="noopener">Hilltop Youth</a>, a US-sanctioned,
                far-right terrorist group that burns property, murderers and robs Palestinians with near total
                impunity from the authorities. They even
                <a href="https://www.pbs.org/newshour/world/israeli-settlers-attack-palestinians-and-idf-military-vehicles-in-west-bank" target="_blank" rel="noopener">attack the IDF</a>
                in response to their members being arrested. Israel&rsquo;s version of the Ku Klux Klan.
            </p>

            <p>
                Ben-Gvir famously
                <a href="https://www.timesofisrael.com/liveblog_entry/ben-gvir-responds-to-bennett-fine-ill-take-down-baruch-goldsteins-picture/" target="_blank" rel="noopener">has a photo</a>
                of Jewish mass-murderer and terrorist <a href="https://www.myjewishlearning.com/article/baruch-goldstein/" target="_blank" rel="noopener">Baruch Goldstein</a>
                hanging in his house.
            </p>

            <p>
                In April 2025, Ben-Gvir
                <a href="https://apnews.com/article/itamar-bengvir-israel-palestinian-chabad-cfd4f1644ea845702f1a1dacdfd68ba7" target="_blank" rel="noopener">came to the United States</a>.
                He visited Chabad Houses in Florida, Chabad at Yale University, and he prayed at the Rebbe's
                much-visited grave in Queens. And he gave a passionate speech at 770.
            </p>

            <p>
                In his speech, <a href="https://www.youtube.com/watch?v=Xt3ZcSmq5-U" target="_blank" rel="noopener">available on YouTube</a>,
                Ben-Gvir brags about distributing weapons to the settlers and how many positions they maintain,
                and pledges that the &lsquo;Jewish Power&rsquo; party will &ldquo;continue to carry out the Rebbe's
                instructions&rdquo;. There is thunderous cheering and applause throughout.
            </p>

            <p>
                The Times of Israel quotes
                <a href="https://www.timesofisrael.com/shin-bet-chief-warns-netanyahu-ministers-that-jewish-terror-endangering-israel/" target="_blank" rel="noopener">Ronan Bar</a>
                &ndash; former head of Israel&rsquo;s security agency Shin Bet &ndash; in his warning that &ldquo;The &lsquo;Hilltop
                Youth&rsquo; phenomenon long ago became a hotbed of violence against Palestinians,&rdquo; and that
                Ben-Gvir&rsquo;s support of &ldquo;Hilltop Youth&rdquo; does &ldquo;indescribable damage&rdquo; to Israel&rsquo;s national
                security.
            </p>

            <p>
                U.S. representative
                <a href="https://himes.house.gov/2025/04/28/2025-4-nadler-smith-himes-introduce-west-bank-violence-prevention-act-in-response-to-ben-gvir-visit/" target="_blank" rel="noopener">Jerold Nadler writes</a>,
                &ldquo;Itamar Ben-Gvir serves as inciter-in-chief of settler violence in the West Bank,&rdquo; and notes how
                the &ldquo;violent settlers [have chanted] &lsquo;We are Ben-Gvir&rsquo;s gang&rsquo;&rdquo;. U.S. Ambassador to Israel
                <a href="https://www.timesofisrael.com/liveblog_entry/us-envoy-huckabee-says-ben-gvir-betrayed-dignity-of-his-nation-with-flotilla-video/" target="_blank" rel="noopener">Mike Huckabee called</a>
                Ben-Gvir&rsquo;s abuse of the <a href="https://www.bbc.com/news/articles/clyp32weyn8o" target="_blank" rel="noopener">Gaza Flotilla</a>
                detainees as &ldquo;despicable actions&rdquo;.
            </p>

            <p>
                An article in <a href="https://www.shomrim.news/eng/chabad-ben-gvir-alliance" target="_blank" rel="noopener">Shomrim</a>, an
                Israeli nonprofit news organization, is worth quoting at length: &ldquo;The alliance between
                [Ben-Gvir&rsquo;s Jewish Power party] and Chabad has already proven to be fertile ground for advancing
                both their common and particular interests. For Ben-Gvir, Chabad represents a massive potential
                electoral base, and [&hellip;] it offers a well-organized apparatus that includes around 1,300 Chabad
                Houses in almost every community in Israel. For Chabad &ndash; which for years watched enviously from
                the sidelines as other [Orthodox Jewish groups] enjoyed massive state funding, appointments in
                state-run bodies and positions of power &ndash; the link-up with [the Jewish Power party] is a tool for
                obtaining political influence and resources.&rdquo;
            </p>

            <p>
                In their own words,
                <a href="https://www.chabad.org/library/article_cdo/aid/7084974/jewish/What-Is-the-Jewish-Claim-to-the-Land.htm" target="_blank" rel="noopener">Chabad explains</a>
                on their website why the Jews have a right to the Land of Israel. Chabad says that &ldquo;the Rebbe
                emphasizes the importance of referring to Israel as the &lsquo;Land of Israel&rsquo; not the &lsquo;State of
                Israel&rsquo;, [and that he] underscores that our claim to the Land is rooted in an ancient, divine
                promise rather than in modern nationalism.&rdquo;
            </p>

            <p>
                They write that &ldquo;we must confidently assert our claim to the Land as truth, without any
                qualifications and with childlike sincerity.&rdquo;
            </p>

            <p>
                At the end of the article, the Rebbe is quoted saying &ldquo;[the Land of Israel] is ours by Divine
                covenant [&hellip;] and the &lsquo;facts of life&rsquo; and &lsquo;truth&rsquo; are that Jews are not &lsquo;occupiers&rsquo; or
                &lsquo;aggressors&rsquo; in their homeland, but that [the land] is rightfully ours by Divine will and grace,
                not by the &lsquo;false grace&rsquo; of the United Nations.&rdquo;
            </p>

            <p>
                Vineyarders make our own decisions about what is in line with the values of our community. The
                island that we cherish is one that is built on the shared values of our inclusive, honest and
                diverse community. Chabad is known throughout the world for preserving and sharing Jewish
                culture, its friendly and welcoming atmosphere, and generous meals. All of these things can be
                admirable.
            </p>

            <p>
                But it&rsquo;s worth taking a moment to reflect on how the worldwide Chabad movement popped up
                overnight on Martha&rsquo;s Vineyard and proceeded to host seemingly positive local events while its
                allies endorse violence and terrorism, and its organization uses rhetoric and a politics that
                justify the genocide of the Palestinians as their divine right.
            </p>

            <p>Will Ben-Gvir headline the Festival next year?</p>

            <p class="byline">Adam Lipsky<br>West Tisbury</p>
        </article>
    </main>

{%  endblock %}
