{% extends 'wrapper.html.twig' %}
{% block title %}Broitmann's op-ed: misleading, and too little too late | {{ parent() }}{% endblock %}

{% block content %}

<p class="alert alert-secondary">David Mintz, a founding member of MV For Palestine, submitted the following Letter to the Editor of the MV Times in August, 2025.
When the MV Times did not respond, he followed up. They then said they would try to "find a home for [the letter]"; subsequently
said they would publish it; did not publish it in the following weeks; did not respond to email inquiries as to the final disposition
of this LTE. Since the MV Times has evidently declined the letter, we publish it here instead.</p>

    <h3>Broitmann’s misleading op-ed is too little, too late</h3>
    <p>
    Rabbi Caryn Broitmann’s  <a href="https://www.mvtimes.com/2025/08/01/gaza-starving-must-stop/">op-ed of August 1, 2025</a>
    characterizes the current famine in Gaza as a
    human-created emergency for which the responsibility lies with the Israeli government, and she calls
    on Jews to set aside their differences and work together to save lives. This qualified recognition of the
    catastrophic situation, though welcome, is accompanied by familiar distortions and falsifications of the
    historical record.
    </p><p>
    Broitmann blames Hamas for “starting this latest cycle of violence” on October 7. One must be either
    disingenuous or historically illiterate to suggest that history began on that date, with the implication
    that hitherto everything was fine until Hamas broke the peace. Hamas is almost certainly guilty of war
    crimes, having abducted and murdered civilians. History teaches, however, that violent uprisings do not
    happen in a vacuum. Nat Turner’s 1831 rebellion, in which slaves rose up and murdered dozens of their
    enslavers, was the direct consequence of the slavocracy itself. Occasionally, you do reap what you sow.
    The historical record on Israel-Palestine is likewise uncontroversial: ethnic cleansing, violence,
    apartheid and oppression against Palestinians have been Israeli policy for decades. It is misleading to
    imply that blame for the horror lies only with the <em>current</em> Israeli leaders, and demonstrably false to say
    that Israel has cut off food, electricity, and medicines for no more than “almost three months.”
    Broitmann also refers to Hamas’ use of “sexual violence as a tool of war.” The problem with these
    allegations is that no evidence has been produced to substantiate them. A UN inquiry reported that
    Israeli authorities withheld key evidence of mass rape that they claimed to have. These unsubstantiated
    allegations of mass rape (and of baby beheadings) are atrocity propaganda designed to distract from –
    or worse, justify – Israeli war crimes.
</p><p>
    The rabbi’s innocuous-sounding description of Zionism is misleading. The negative connotations that
    the term carries are well-founded. Although it emerged as a reaction to genuine antisemitic persecution,
    the Zionist movement since its inception has had colonization of Palestine as its explicit goal. Self-
    determination is great, but forced displacement, settler-colonialism and ethnic cleansing are not.
    She encourages readers to join Jewish organizations advocating humanitarian relief, but only those
    within the liberal Zionist comfort zone — notably omitting the unabashedly anti-Zionist Jewish Voice
    for Peace, one of the largest Jewish groups calling for an end to the occupation, and for equality and
    freedom for all throughout Palestine and Israel.
</p><p>
    Not least important is what Rabbi Broitmann does not say: <em>genocide</em>. The Israeli genocide against the
    Palestinian people, live-streamed to the entire world, has horrified and outraged millions of people, and
    expert legal opinion is clear. There is no serious debate about whether this is genocide, and there can be
    no justification. Moral courage requires us all, especially people in positions of leadership, to call it
    what it is, and to call on the US government to stop sponsoring genocide.
    <p>
    David Mintz<br>
    Oak Bluffs
</p>
</p>
{%  endblock %}
