{% extends 'base.html.twig' %}

{% block title %}CeasefireMV{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">

        <div class="p-2" style="max-width: 600px;">
            <h2 class="text-center pb-2">Welcome to CeasefireMV.org</h2>
            <p style="font-size: 1.2em"><strong>CeasefireMV</strong>, also known as <strong>MV For Palestine</strong>, is a group of people living
                on Martha's Vineyard (Massachusetts, USA) who demand an immediate, permanent ceasefire and halt to the Israeli
                state's genocidal war on Gaza.  We welcome all those who share our objectives: stop the genocide,
                and fight the lie that conflates criticism of the Israeli state with antisemitism.</p>

            <p>Feel free to join us as we stand out at the Five Corners intersection in Vineyard Haven every Sunday at 11:30 a.m.</p>

            <p>Our informal group came together in November, 2023, in response to the horrifying Israeli war of annihilation
                against Gaza. You can <a title="learn more about CeasefireMV" href="/about">read more here about CeasefireMV</a>. For our
                responses to various comments and questions we've been asked, see our <a href="/questions">questions and answers page.</a></p>
            {% if  "now"|date("Y-m-d.H:i") < "2025-03-02.14:00" %}
                <div  class="border border-success alert shadow my-3">
                    <h1 class="text-success text-center"><em>From Ground Zero</em></h1>
                    <p>We are immensely pleased and excited to present a screening of the film <em>From Ground Zero</em> on
                        Sunday, March 2, at 4:00 pm at the Strand Theater in Oak Bluffs. Please see <a href="/fromgroundzero">this announcement!</a></p>
                </div>
            {%  endif %}
        </div>


    </div>
{% endblock %}
