{% extends 'base.html.twig' %}

{% block title %}CeasefireMV{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">

        <div class="p-2" style="max-width: 600px;">
            <h2 class="text-center pb-2">Welcome to CeasefireMV.org</h2>
            {% if  "now"|date("Y-m-d.H:i") < "2025-03-16.13:00" %}
                <div  class="border border-success alert shadow my-3">
                    <h1 style="color: red"  class="text-center">Free Mahmoud Kahlil!</h1>
                    <p>
                        Show up at our standout Sunday, 16-March, at 1:30 at Five Corners in Vineyard Haven
                        to protest the blatantly illegal
                        <a href="https://apnews.com/article/columbia-university-mahmoud-khalil-ice-440828980a4ee7bf4ddcf3d123e02b3e" target="_blank">
                            arrest and detention of Mahmoud Kahlil
                        </a>. It doesn't even matter what one thinks of his politics. Kahlil is a legal permanent resident who has been
                        charged with no crime, and whom Trump administration has targeted for exercising
                        his right to free speech under the First Amendment. <strong>Stand up for democratic rights!
                            Defend Mahmoud Kahlil!</strong> Download our flyer from
                        <a href="/files/kahlil.flyer.pdf" target="_blank">ceasefiremv.org/files/kahlil.flyer.pdf</a>
                    </p>
                </div>
            {%  endif %}

            <p style="font-size: 1.2em"><strong>CeasefireMV</strong>, also known as <strong>MV For Palestine</strong>, is a group of people living
                on Martha's Vineyard (Massachusetts, USA) who demand an immediate, permanent ceasefire and halt to the Israeli
                state's genocidal war on Gaza.  We welcome all those who share our objectives: stop the genocide,
                and fight the lie that conflates criticism of the Israeli state with antisemitism.</p>

            <p>Feel free to join us as we stand out at the Five Corners intersection in Vineyard Haven every Sunday at 11:30 a.m.</p>

            <p>Our informal group came together in November, 2023, in response to the horrifying Israeli war of annihilation
                against Gaza. You can <a title="learn more about CeasefireMV" href="/about">read more here about CeasefireMV</a>. For our
                responses to various comments and questions we've been asked, see our <a href="/questions">questions and answers page.</a></p>
        </div>


    </div>
{% endblock %}
