{% extends 'base.html.twig' %}

{% block title %}CeasefireMV{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center border">

        <div class="border border-1 p-2" style="max-width: 600px;">
            <h2 class="text-center pb-2">Welcome to CeasefireMV.org</h2>
            <p style="font-size: 1.2em"><strong>CeasefireMV</strong>, also known as <strong>MV For Palestine</strong>, is a group of people living
                on Martha's Vineyard (Massachusetts, USA) who demand an immediate, permanent ceasefire and halt to the Israeli
                state's genocidal war on Gaza.  We welcome all those who share our objectives: stop the genocide,
                and fight the lie that conflates criticism of the Israeli state with antisemitism.</p>
            <p>Pellentesque laoreet ipsum et mi volutpat tempor. Vivamus placerat venenatis tincidunt. Pellentesque bibendum, tortor non ultricies sollicitudin, risus ipsum placerat nisi, a dictum ligula dui nec purus. Aliquam ac semper quam. Quisque nisl nisi, fermentum at interdum ac, sodales tempus massa. Suspendisse tempor nibh efficitur, consectetur nunc vitae, sollicitudin mi. Vivamus ac bibendum neque, efficitur ultricies enim. Nunc vitae congue turpis. Praesent sit amet diam eu purus pretium pellentesque. Nulla viverra dictum neque, a scelerisque ex gravida nec. Aliquam erat volutpat. Etiam porta maximus justo vel laoreet. Morbi pulvinar rhoncus ligula posuere rhoncus.</p>
<p>
            Proin ut turpis semper turpis lacinia scelerisque. Vivamus pretium tellus vitae diam finibus auctor. Vestibulum feugiat lectus quis orci tincidunt lobortis. Quisque eu auctor ipsum, sed tincidunt metus. Mauris posuere eget eros a vestibulum. Sed nulla velit, consectetur vitae ante vel, commodo vestibulum turpis. Quisque vel venenatis nisl. Nullam ac nisi mauris. Curabitur luctus magna accumsan sapien convallis imperdiet. Sed at urna sit amet augue suscipit varius a eget magna. Cras tincidunt ut mauris vitae mollis. Duis blandit dignissim magna lacinia sollicitudin. Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.
</p>
            <p>
            Proin sit amet pharetra diam, eu convallis odio. Maecenas pharetra lobortis eros ac hendrerit. Aenean id metus nec lorem aliquam luctus. Nam egestas fermentum eleifend. Proin non accumsan turpis. Pellentesque semper felis lacus, sed aliquet dolor rutrum vel. Nulla feugiat non nulla quis ornare. Sed vitae odio sem. Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.
            </p>

        </div>

    </div>
{% endblock %}
