{% extends 'wrapper.html.twig' %}
{% block title %} Join us! | {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-center">{{ template }} us</h2>
<p>
    Our group is primarily intended for residents (permanent or seasonal) of Martha's Vineyard, but there
    are exceptions. CeasefireMV is informal; there is no charter, no membership application or fees. If you share
    our objectives -- stop the genocide, fight the false conflation of anti-Zionism with antisemitism -- you're welcome
    to join.
</p>
    <p>To join our group, </p>
    <ol>
        <li>Go to our groups.io mailing list at <a href="https://groups.io/g/CeasefireMVforPalestine/join" target="_blank">groups.io/g/CeasefireMVforPalestine/join</a>.</li>
        <li>Submit your email address.</li>
        <li>Confirm your email address by following the link that will be emailed to your address.</li>
        <li>Reply to the email that a list administrator will send you asking you to tell us your name, where you live,
        and what motivates you to join and/or how you think you might be able to contribute.</li>
    </ol>
    <p>and then the list administrator will approve your subscription.</p>

{% endblock %}
