{% extends 'wrapper.html.twig' %}

{% block title %}The October 7 attack | {{ parent() }}{% endblock %}
{%  block content %}
    <h2>MV Report</h2>

    <p>This report is a belated contribution to the SEMA Coalition general meeting held on August 9, 2025.</p>

    <h3>Standouts</h3>
    <p>The pro-Palestine movement on Martha’s Vineyard has continued holding standouts every Sunday at an intersection in Vineyard Haven known as Five Corners. This is one of the busiest points on the island, located a short distance from the Vineyard Haven ferry terminal. Traffic arriving on and leaving from the island passes this way. We have stood out for 90 consecutive weeks, with a contingent varying in size from a one-time, record low of one single person to a high of 30, but the typical number in the summer weeks has ranged from about 12 to 18. We stay for an hour and a half. Expressions of support from passersby surpass negative reactions by a ratio that has increased from around 8 to 1 in 2023 to something more like 20 to 1 today, and that support is now louder and more enthusiastic than ever.</p>

    <p>We have had extremely few incidents of harassment, but three weeks ago a man confronted us in a state of such overheated agitation, and had a tone and body language so threatening, that we thought violence was imminent, and decided to call 911. Just before the police arrived about three minutes later, a passerby with good de-escalation skills intervened and got the man to calm down and walk away. While this man’s particular story is unknown, it is possible that this is a reflection of how Zionists in general are increasingly unhinged and hysterical as support for Israel collapses.</p>

    <h3>Op-ed by local rabbi</h3>
    <p>A local rabbi named Caryn Broitmann published an opinion piece in the <em>MV Times</em> (<a href="https://www.mvtimes.com/2025/08/01/gaza-starving-must-stop/">https://www.mvtimes.com/2025/08/01/gaza-starving-must-stop/</a>). It is laden with both-sidesism and repeats familiar lies and distortions about Hamas, Zionism and the history of Israel-Palestine, but it also attributes responsibility for the starvation in Gaza to the Israeli government, and calls on Jews to put aside their differences and oppose weaponized starvation. It does not use the g-word; does not mention the complicity of the US and other governments; relies heavily on scripture, rather than on international law and basic morality. In short, it is contemptible, mealy-mouthed, too-little-too-late — and yet, it is progress of a sort.</p>

    <h3>Pierogigate</h3>
    <p>Alan Dershowitz, the well-known professional dick, was at the West Tisbury Farmers Market on two separate occasions and was twice denied service by a pierogi vendor. The incident, which we’ve dubbed Pierogigate, has received national and even international media attention (<a href="https://duckduckgo.com/?q=dershowitz+denied+pierogi">https://duckduckgo.com/?q=dershowitz+denied+pierogi</a>). While the vendors asserted that their basis for refusing Dershowitz was his representation of unsavory characters such as Jeffrey Epstein, Donald Trump, and O. J. Simpson, we’re acquainted with one of the business owners (we demonstrated together outside the Jewish Cultural Festival last summer) and know them to be fervently anti-Zionist. Dershowitz has tried to claim the refusal of service constitutes religious discrimination. His legal reasoning, in the view of experts, is tenuous. Local pro-Palestine comrades debated Dershowitz (there are videos online) and acquitted themselves admirably. Pierogi sales have been brisk.</p>

    <h3>Conclusion</h3>
    <p>Events on the island appear to be consistent with general trends in US public opinion and politics: support for Israel is plummeting, and people are more strongly than ever opposed to the genocide.</p>

    <p>We warmly encourage SEMA Coalition comrades to consider making a day trip to the island to join our standout any Sunday at 11:30 a.m.</p>

    <p>&mdash; David Mintz</p>

{% endblock %}

