{% extends 'wrapper.html.twig' %}

{% block title %}Privacy {{ parent() }}{% endblock %}
{%  block content %}
    <h2 class="text-center">On the October 7 attack</h2>
    <p><strong>this is NOT a draft of this document. it's david mintz' own notes for internal use</strong></p>
<p>Impartial professional investigators from the UN reported that they found credible evidence that there were partially naked
    and completely naked female corpses with hands bound behind their backs and fatal bullet wounds to the head. Why would their
    clothes be removed, unless there was some humiliation and abuse going on? That's not a legitimate military action.
    giThe report further finds that there were massacres of civilians, parents shot dead in front of their
    children, stuff like that. It is probably true that some Hamas militants and/or freelancers did some very bad things on that day.
</p>
    <p>
    But even granting that Hamas committed atrocities on that day, there is still no excuse the genocidal rampage that has
        killed 40,000 innocent people (or 186,000,as estimated by the Lancet study).
    </p>
<p>
    What probably transpired is that Hamas planned a legitimate military action, but then was surprised
    at the Israeli non-response they initially encountered. Further waves of non-Hamas armed people -- freelancers, if you will --
    came in, went on a killing spree, and probably committed abuses. Some Hamas militants evidently may have done likewise. We see no
    reason to deny this. It is possible for there to have been scattered abuses without there having been a either a policy or
    practice of mass rape, an allegation that is unsubstantiated and discredited.
</p>
    <p>
    At the same time, it's a matter of factual record that the Netanyahu regime (1) knew about the impending attack for a year, and
        did nothing about it, quite plausibly for the nefarious purpose of allowing carnage to happen so they would have a pretext to
        launch the genocide; (2) killed Israeli soldiers and civilians by (a) deliberate application of the Hannibal Directive, and (b) friendly fire incidents. The Israeli government therefore bears considerable responsibility for the number of deaths on October 7 (as Kate rightly points out).
    </p>
    <p>
    Further, as we all well know, there is the larger historical context:  the fact that the very creation of Israel was based on
    ethnic cleansing of the indigenous Palestinian population; and the brutal military rule and apartheid regime that has been in
    place ever since, and so on. Some have compared the October 7 attack to the Warsaw ghetto uprising of 1943, and to the slave
    rebellion led by Nat Turner in Virginia in 1831. The power relations are comparable; there has never been the slightest symmetry
    in the so-called conflict. The tired line that Hamas started it on October 7 is ahistorical at best.
    </p>
{% endblock %}

