{% extends 'wrapper.html.twig' %}

{% block title %}The October 7 attack | {{ parent() }}{% endblock %}
{%  block content %}
    <h1 class="text-center py-2">On the October 7 attack</h1>


    <p><strong>Hamas launched a terrorist attack and committed atrocities against civilians on October 7, 2023, murdering over 1100
            and abducting around 250 people. Doesn't Israel have a right to go after Hamas?</strong></p>

    <p>Our assessment of the October 7 attack is rooted in (1) an evaluation of the evidence and the facts, rather than atrocity propaganda,
        and (2) a study of the full historical context.
    </p>
    <p>An independent investigation commissioned by the United Nations
        found what it deemed to be credible evidence of war crimes committed by both the Israeli forces and Hamas militants.
        However, an analysis of that report published in <a href="https://mondoweiss.net/" target="_blank">Mondoweiss</a> found that the
        report "relies on noncredible witnesses and previously debunked evidence,
        contains glaring errors in verification and sourcing, takes Israeli government ‘facts’ at face value, and twists definitions
        of sexual and gender-based violence so as to amplify Israeli rape <em>hasbara</em>. It does all of this in order to pander to Israeli
        claims of sexual violence and come away with a ‘both sides’ narrative[.]"
<p>
        We encourage you to read both the <a href="/files/ UN-comission-report-on-07-oct.pdf">UN commission's report</a> as well as
    the <a href="https://mondoweiss.net/2024/10/how-the-un-commission-of-inquiry-report-on-october-7-launders-israeli-propaganda/" target="_blank">Mondoweiss analysis</a>
    in reaching your own conclusions. We also recommend reading Hamas' own extended <a target="_blank" href="/files/Operation-Al-Aqsa.pdf">statement in regard to October 7</a>
        (courtesy of the <a href="https://www.palestinechronicle.com/" target="_blank">Palestine Chronicle</a>).
    </p>
    <p>Based on the lack of credible evidence, we reject all the lurid allegations against Hamas, such as baby beheadings
        and mass sexual violence. In regard to the latter, it is significant that the UN report, despite its shortcomings
        as pointed out by Mondoweiss, notes that one reason the investigation failed to find evidence of rape was the lack of
        cooperation on the part of Israeli authorities.
        We do think it likely that some actors, possibly Hamas militants, committed war crimes under international
        law, such as the killing and abduction of civilians. The above-referenced narrative of Hamas itself contains what amounts to
        an acknowledgment of this: "Maybe some faults happened during Operation Al-Aqsa Flood’s implementation due to the
        rapid collapse of the Israeli security and military system, and the chaos caused along the
        border areas with Gaza."
        </p>
    <p>
    But even granting <em>arguendo</em>  that Hamas committed atrocities on that day, there is still no excuse the genocidal rampage that has
        killed over 40,000  people (or 186,000,as estimated <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(24)01169-3/fulltext" target="_blank">a study published by The Lancet</a>
        in July 2024).

        <p>There are two further points to bear in mind:</p>
<p>(1) It is well documented that the Netanyahu government knew about the planned attack a year before it took place,
    and chose to do nothing by way of defense (see <a target="_blank" href="https://www.haaretz.com/israel-news/2024-06-18/ty-article/report-new-evidence-reveals-idf-had-detailed-prior-knowledge-of-hamas-plan-to-raid-israel/00000190-2afb-d2de-af9e-6ffbdf700000">this article</a>
    from the Israeli newspaper <em>Haaretz</em>).
</p>
    <p>(2) Once the Israeli military belatedly responded, they killed a substantial number of Israeli civilians and their own soldiers
                (as <a href="https://www.haaretz.com/israel-news/2024-07-07/ty-article-magazine/.premium/idf-ordered-hannibal-directive-on-october-7-to-prevent-hamas-taking-soldiers-captive/00000190-89a2-d776-a3b1-fdbe45520000" target="_blank">reported</a> by <em>Haaretz</em>),
        either in friendly fire incidents or by deliberate application of the infamous Hannibal Directive.
        The precise number of people thus
    killed will probably never be known, but some estimates place the number in the hundreds. A significant number of the hostages taken
    to Gaza have also been killed by Israeli bombings.</p>

    <p>Absent any other credible explanation, and given the subsequent genocidal conduct by Israel and its amply demonstrated willingness to sacrifice
    Israeli lives, we think it probable that the Netanyahu government intentionally sacrificed its own citizens in order to use
        the attack as a pretext for its war of annihilation. However, some expert opinion holds that the Israeli government's historic
    failure to defend its citizens was due to its hubris and incompetence rather than sinister motives.
    </p>


    <p>
    Finally, there is the larger historical context. The very creation of Israel was based on
    ethnic cleansing of the indigenous Palestinian population, which has been subjected to a brutal military occupation and
        apartheid regime ever since. Some have compared the October 7 attack to the Warsaw ghetto uprising of 1943, and to the slave
    rebellion led by Nat Turner in Virginia in 1831. The power relations are comparable; there has never been the slightest symmetry
    in the so-called conflict. The oft-repeated line that Hamas "triggered" this war on October 7, 2023, is ahistorical at best.
    </p>
    <p>Again, we are not apologists for whatever war crimes may have been committed by Hamas on October 7, 2023. We do, however,
        recognize that the ultimate responsibility for the violence in Palestine-Israel lies with Israel.
        Had there been no slavocracy in the United States, there would have been no slave uprising led by Nat Turner in 1831. Had there
    not been the ethic cleansing of Palestine in 1948 followed by 75 years of nonstop Israeli oppression of Palestinians, there would
    have been no October 7 attack.</p>
    <p><strong>Hamas conducted mass rape and beheaded babies.</strong></p>
    <p>As noted above, no credible evidence has yet been produced to substantiate these lurid allegations. The above-mentioned UN
    report did not find evidence of systematic rape. As for the beheading of babies, the only verified report of any
    such decapitation is <a href="https://www.thecanary.co/uk/analysis/2024/05/28/beheaded-babies-israel-gaza/" target="_blank">the one resulting from an Israeli attack</a>
        on the Rafah refugee camp.</p>
    <p>This type of atrocity propaganda is designed to demonise Palestinians and distract from -- or worse, justify -- the
    real atrocities being committed against them.</p>
{% endblock %}

