{% extends 'wrapper.html.twig' %}

{% block title %}The October 7 attack | {{ parent() }}{% endblock %}
{%  block content %}
    <h2 class="text-center">On the October 7 attack</h2>
    <p class="border border-info p-2"><strong>Please note: this is a rough draft of this document.</strong></p>
    <p><strong>Hamas launched a terrorist attack and committed atrocities against civilians on October 7, 2023, murdering over 1100
            and abducting around 250 people. Doesn't Israel have a right to go after Hamas?</strong></p>
<p>An independent investigation commissioned by the United Nations
    <a href="https://www.ohchr.org/sites/default/files/documents/hrbodies/hrcouncil/sessions-regular/session56/a-hrc-56-26-auv.docx">reported</a>
    the finding of credible evidence that there were partially naked and completely naked female corpses with hands bound behind
    their backs and fatal bullet wounds to the head. This is undeniably consistent with abuse, humiliation and murder. That's not a legitimate military action.
    The report further finds that there were massacres of civilians, including parents shot dead in front of their
    children. We do not condone atrocities no matter who commits them or why.
</p>
    <p>
    But even granting that Hamas committed atrocities on that day, there is still no excuse the genocidal rampage that has
        killed over 40,000  people (or 186,000,as estimated <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(24)01169-3/fulltext" target="_blank">a study published by The Lancet</a>
        in July 2024).

        <p>There are two further points  to bear in mind:</p>
<p>(1) It is well documented that the Netanyahu government knew about the planned attack a year before it took place,
    and chose to do nothing by way of defense (see <a target="_blank" href="https://www.haaretz.com/israel-news/2024-06-18/ty-article/report-new-evidence-reveals-idf-had-detailed-prior-knowledge-of-hamas-plan-to-raid-israel/00000190-2afb-d2de-af9e-6ffbdf700000">this article</a>
    from the Israeli newspaper <em>Haaretz</em>).
</p>
    <p>(2) Once the Israeli military belatedly responded, they killed a substantial number of Israeli civilians and their own soldiers
                (as <a href="https://www.haaretz.com/israel-news/2024-07-07/ty-article-magazine/.premium/idf-ordered-hannibal-directive-on-october-7-to-prevent-hamas-taking-soldiers-captive/00000190-89a2-d776-a3b1-fdbe45520000" target="_blank">reported</a> by <em>Haaretz</em>).
        The precise number of people thus
    killed will probably never be known, but some estimates place the number in the hundreds. A significant number of the hostages taken
    to Gaza have also been killed by Israeli bombings.</p>

    <p>Absent any other credible explanation, and given the subsequent genocidal conduct by Israel and its amply demonstrated willingness to sacrifice
    Israeli lives, the most likely theory is that the Netanyahu government intentionally sacrificed its own citizens in order to use
        the attack as a pretext for its war of annihilation.</p>

    <p>Based on the reporting we have read, we think Hamas planned a legitimate military action -- i.e., one whose objectives
        included capturing enemy soldiers to trade for Palestinian prisoners -- but then was surprised
        at the Israeli non-response they initially encountered. Further waves of non-Hamas armed people -- freelancers, if you will --
        came in, went on a killing spree, and committed abuses. Some Hamas militants evidently may have done likewise.
    </p>
    <p>
    Finally, there is the larger historical context:  the fact that the very creation of Israel was based on
    ethnic cleansing of the indigenous Palestinian population; and the brutal military rule and apartheid regime that has been in
    place ever since, and so on. Some have compared the October 7 attack to the Warsaw ghetto uprising of 1943, and to the slave
    rebellion led by Nat Turner in Virginia in 1831. The power relations are comparable; there has never been the slightest symmetry
    in the so-called conflict. The oft-repeated line that Hamas "triggered" this war on October 7, 2023, is ahistorical at best.
    </p>
    <p>Again, we are not apologists for whatever war crimes may have been committed by Hamas on October 7, 2023. We do, however,
        recognize that the ultimate responsibility for the violence in Palestine-Israel lies with Israel.
        Has there been no slavocracy in the United States, there would have been no slave uprising led by Nat Turner in 1831. Had there
    not been the ethic cleansing of Palestine in 1948 followed by 75 years of nonstop Israeli oppression of Palestinians, there would
    have been no October 7.</p>
    <p><strong>Hamas conducted mass rape and beheaded babies.</strong></p>
    <p>No credible evidence has yet been produced to substantiate these lurid allegations. The above-mentioned UN
    report did not find evidence of systematic rape. As for the beheading of babies, the only verified report of any
    such decapitation is <a href="https://www.thecanary.co/uk/analysis/2024/05/28/beheaded-babies-israel-gaza/" target="_blank">the one resulting from an Israeli attack</a> on the Rafah refugee camp.</p>
    <p>This type of atrocity propaganda is designed to demonise Palestinians and distract from -- or worse, justify -- the
    real atrocities being committed against them.</p>
{% endblock %}

