{% extends 'wrapper.html.twig' %}
{% block title %} Katherine Scott: Media Mislead the Public, Maintain Myths | {{ parent() }}{% endblock %}
{% block content %}
    <h3 class="my-3">Palestine/Israel: Media Mislead Public and
        Maintain Historical Myths</h3>
    <h5>by Katherine Scott</h5>
    <br>
    <p>
        On March 2, 2024, some members of CeasefireMV participated in a peace demo on Falmouth Green that was organized by the Falmouth Ceasefire group, urging an immediate ceasefire in the attack on Gaza and the provision of adequate food, water, and medical assistance to Gazans. It was also a memorial to the courage and moral commitment of the US airman Aaron Bushnell, who sacrificed himself to shock the world into facing the plight of Palestinians in their homeland, Palestine.
    </p><p>
    For me it was also a forceful reminder of the many Saturday mornings from January through March 2003 when I and others stood in front of the Falmouth Post Office holding signs with messages such as “Hands Off Iraq” and “Liar, Liar Pants on Fire”---alluding to the (to us obvious) stream of lies emanating from the Bush administration that were pushing the American public to accept a USA-led invasion of Iraq. Later it was proved that our establishment media, especially Judith Miller of the New York Times, had purveyed the lies concocted by our government regarding supposed WMD in Iraq to justify an invasion that turned into a national debacle that is ongoing as I write.
</p><p>
    For some reason, many intelligent citizens still rely on these same mainstream media outlets for all of their news and views---such as their ideas about the so-called “Israel-Hamas war” and the current horrific onslaught on the people of Gaza---despite these outlets’ proven past failures. They do not search out alternative news media for more reliable on-the-spot reporting and analysis, and the same might be said of our news anchors. For many Americans the first time “Gaza” gained their attention was on October 7, 2023, when headlines screamed out news of Hamas “terrorists” breaking through the fence around Gaza and killing Israeli soldiers and citizens. The decades-long siege of Gaza and Israeli assaults in which thousands of  Palestinians in both Gaza and the West Bank have been maimed, killed, harassed, tortured, and dispossessed were never highlighted by our news anchors. And, who even knew where these 2.5 million Gazans came from and why they were walled in in a place called the Gaza Strip barely larger than Martha’s Vineyard? Who can answer that question even now?
</p><p>
    All Americans have heard of the Holocaust and link the founding of the State of Israel with that horrific historical event. Few of them pause to consider that Palestinians had nothing whatsoever to do with the Holocaust. Our media do not emphasize this point.
    Many Americans assume that there is some kind of “age-old conflict” between Jews and Muslims, and our media do not question this black-and-white tale. The absurd irony in this is that nowhere else on earth have Jews historically been safer than in Palestine and the Middle East. This is made crystal clear by the renowned Arab Israeli historian Avi Shlaim, professor emeritus at Oxford University, in this short interview: “Professor Avi Shlaim says ‘anti-Semitism was an European, not Arab problem’ ” (<a target="_blank" href="https://tinyurl.com/3c2jd2ps">https://tinyurl.com/3c2jd2ps</a>).
</p><p>
    Very few Americans have ever heard of the Nakba
    of 1947--48, "the Catastrophe," during which
    750,000 to 800,000 Palestinians---Muslims and
    Christians---were forcibly and violently expelled
    from their homes, as Arab villages along with
    urban neighborhoods were ethnically cleansed to
    make way for Jewish refugees and other
    “transferred” Jewish populations such as the
    Jewish communities of Iraq and Morocco. The scope
    of the looting that occurred in every village and
    town in Palestine shocked UN observers (there
    were about 1,200 Arab villages in Palestine). At
    least 530 villages were physically destroyed to
    eliminate any trace of the previous inhabitants
    and their way of life
    (<a target="_blank" href="https://tinyurl.com/4fd9ftwk">https://tinyurl.com/4fd9ftwk</a> ).
    The chilling efficiency with which this was accomplished has
    also rarely been remarked upon, or explained. Our
    mainstream media have not educated Americans about that.
</p><p>
    In recent weeks the world has been shocked by images of Palestinians being shot by IDF troops as the starving people ran to aid trucks on Al-Rashid Street in northern Gaza. The idea that the food was used as “bait” to attract crowds of civilians who were then easily shot and run over by trucks has been dismissed by Israeli officials. Yet early on in the Zionist campaign of ethnic cleansing, similar tactics were used to terrorize Palestininans and drive them from their homes. For instance, writes the Israeli historian Ilan Pappe in his heavily documented work “The Ethnic Cleansing of Palestine,” in December 1947, during the ethnic cleansing of Haifa, “Jewish troops . . . poured oil mixed with fuel on the roads, which they then ignited. The moment panic-stricken Palestinian residents came running out of their homes to try to extinguish these rivers of fire, they were sprayed by machine-gun fire.”
</p><p>
    Many will ask, “But didn’t the Jews need and deserve a homeland after the Holocaust?” The fact is that the meticulous planning for the Zionist
    campaign to drive the Palestininans out of their native land got under way in the 1930s and thus predated the Holocaust (see Pappe, “Ethnic Cleansing,”
    chapter 4, “Finalising a Master Plan”). This planning, which became Plan Dalet, or Plan D, underlay and guided the rapid execution of the Nakba. In the
    early 1940s David Ben-Gurion, the head of the Jewish Agency, wrote in his diary, “Is it not now the time to get rid of them?” In 1940 he elaborated:
    “Transfer does not serve only one aim -- to reduce the Arab population -- it also serves a second purpose . . . to evict land now cultivated by Arabs and
    free it for Jewish settlement . . . Not a single village or a single tribe must be let off.” By 1947 he wrote, “Every attack has to end with occupation,
    destruction, and expulsion” (Pappe, “Ethnic Cleansing,” pp. 58-64; on looting, see p. 190).
</p><p>
    The word “terrorist” is constantly ringing in our ears, often connected with the word “Palestinian.” The truth is that Zionists from eastern Europe and Russia introduced terrorism into Palestine as soon as they arrived, decades before either the Holocaust or the Nakba, using arson, assassination, murder, and mayhem to intimidate or eliminate their political adversaries and grab coveted land and water resources from peasants and Bedouins. They smuggled in arms. After the declaration of the State of  Israel, all of the new state’s leading politicians, officials, and military personnel were former leaders and members of organized terrorist gangs such as the Irgun (Menachem Begin, later prime minister), the Haganah (David Ben-Gurion, Israel’s first prime minister), and the Stern Gang/ Lehi (Yitzak Shamir, later prime minister). In a 1974 interview, Menachem Begin was proud to claim the title “‘the father of terrorism in the Middle East’ . . . ‘in the whole world!’” (<a target="_blank" href="https://tinyurl.com/2w6hb96e">https://tinyurl.com/2w6hb96e</a>).
</p><p>
    News anchors and pundits often follow mentions of  “Palestinian terrorists” with the assertion that “Israel has the right to defend itself.” This is never questioned. The more often it is repeated the more unquestionably true it seems to be. Actually, Israel, an armed illegal occupier, has no legal right to defend itself against those it occupies and thereby to perpetuate its illegal occupation. It is the Palestinians who under international law have the right to resist an illegal occupation and subjugation. Based on the UN charter, the 1970 United Nations General Assembly Resolution 2625 explicitly endorsed a right to resist---including by armed struggle---"subjection of peoples to alien subjugation, domination and exploitation.”
</p><p>
    There is a pressing need for Americans to learn more of the historical background to the conflict in Palestine so that they can better contextalize what happened on October 7, and assess the potential legal culpability of our government in the currently unfolding genocide. Fortunately some excellent documentaries with fascinating vintage footage and informative interviews can be viewed for free online:
</p>
    <ol>
        <li>“Promises and Betrayals: Britain and the Struggle for the Holy Land” (<a target="_blank"  href="https://tinyurl.com/4pe7fzhc">https://tinyurl.com/4pe7fzhc</a>). An outstanding historical overview.
        </li><br>
        <li>“Palestine 1920: The Other Side of the Palestine Story” (<a target="_blank" href="https://tinyurl.com/yc23dm7z">https://tinyurl.com/yc23dm7z</a>). Shows how Palestinians experienced the developing conflict with both the Zionists and British authorities in Mandatory Palestine as they worked within their communities to realize their own national aspirations and modernize their country.</li><br>
        <li>“The Settlers: Inside the Jewish Settlements” (<a target="_blank"  href="https://tinyurl.com/bddxum5b">https://tinyurl.com/bddxum5b</a>). The Israeli film maker Shimon Dotan explores the history of Zionist settlements in the West Bank since 1967, and via surprisingly candid interviews provides insights into the settlers’ view of their role in the ultimate achievement of Eretz Israel “from the Nile to the Euphrates.” Winner of the Special Jury Prize at the Sundance Film Festival for Best World Documentary. Dotan, a former Israeli Navy Seal diver, has won many other awards for his films.</li>
    </ol>
    <p>
        In the holiday favorite “Miracle on 34th Street” the plot is resolved when a judge rules that Santa Claus exists. This ruling does not demonstrate
        that Santa Claus exists. In real-life Washington, DC, the US Congress has passed a resolution that equates criticism of Israel and Zionism with
        antisemitism. Critical minds -- including millions of Jewish minds -- beg to differ.
    </p>
{% endblock %}
