{% extends 'wrapper.html.twig' %}

{% block title %}Privacy {{ parent() }}{% endblock %}
{%  block content %}
    <h2 class="text-center">Privacy statement</h2>
    <h3>Data collection</h3>
    <p>
        CeasefireMV.org does not market or sell anything, and has no interest in surveilling users, tracking user behavior
        or selling their data to third parties. We do not use any third-party analytics services (such as Google's). If
        and when we display a form prompting you to enter your contact or other information, an explanation of the purpose
        for which that data is being requested will be displayed adjacent to the form, and that data will be used for no
        other purpose nor shared with any other parties without your explicit consent. If we collect any personal
        data from you, we will exercise due diligence in storing it securely.
    </p>
    <h3>Server access logging</h3>
    <p>
        We practice the standard page request logging that the most widely used web server software
        does by default. Commonly known as access logs, these logs store technical data: the date and time of the request;
        the URL of the resource requested; the web browser type (as reported by the browser's <em>user-agent</em> string
        (<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent</a>);
        the http <em>request method</em> (<a  target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods">https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods</a>); the response code (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent</a>)
        returned by the server; and the IP address from which the request originated.
    </p>
    <p>IP addresses may be considered personal data under the European Union's General Data Protection Regulation (GDPR). However,
        under <a href="https://gdpr-info.eu/art-6-gdpr/" target="_blank">Article 6 of the GDPR</a>, the practice of recording of IP addresses
        in server logs is lawful if "processing is necessary for the purposes of the legitimate interests pursued by the controller or by a third party,
        except where such interests are overridden by the interests or fundamental rights and freedoms of the data subject[...]."
        Web server access logging for purposes of security and site traffic analysis is considered a legitimate interest, and it
        appears that disclosure and consent are not required. We nevertheless hereby disclose this to you in an abundance of transparency.
    </p>

    <h3>Cookies</h3>
    <p>Currently, the only purpose for which we use http cookies is to set a flag in your browser, when you click "I Accept,"
        indicating that you have acknowledged and consented to our privacy policy so that we don't display the warning again for
    two years. If and when we do use other cookies, it will be solely for purposes of making the website work properly.</p>
    <h3>Our groups.io mailing list</h3>
    <p>CeasefireMV maintains an email group list that is hosted by <a href="https://groups.io/g/CeasefireMVforPalestine">groups.io</a>. Your
    use of groups.io's service is subject to their privacy policy, not ours.</p>
{% endblock %}
