{% extends 'wrapper.html.twig' %}

{% block title %}Privacy {{ parent() }}{% endblock %}
{%  block content %}
    <h2 class="text-center">Privacy statement</h2>
    <h3>Data collection</h3>
    <p>
        CeasefireMV.org collects no personal data from visitors to its website. We are not
        marketing or selling anything, and have no interest in surveilling or tracking user behavior.
        We do not use any third-party analytics services (such as Google's).
    </p><p>
        We do, however, practice the standard page request logging that the most widely used web server software
        does by default. Commonly known as access logs, these logs store technical data: the date and time of the request;
        the URL of the resource requested; the web browser type (as reported by the browser's <em>user-agent</em> string
        (<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent</a>);
        the http <em>request method</em> (<a  target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods">https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods</a>); the response code (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent</a>)
        returned by the server; and the IP address from which the request originated.
    </p>
    <p>IP addresses may be considered personal data under the European Union's General Data Protection Regulation (GDPR). However,
        under <a href="https://gdpr-info.eu/art-6-gdpr/" target="_blank">Article 6 of the GDPR</a>, the practice of recording of IP addresses
        in server logs is lawful if "processing is necessary for the purposes of the legitimate interests pursued by the controller or by a third party,
        except where such interests are overridden by the interests or fundamental rights and freedoms of the data subject[...]."
        Web server access logging for purposes of security and site traffic analysis is considered a legitimate interest, and it
        appears that disclosure and consent are not required. We nevertheless hereby disclose this to you in an abundance of transparency.
    </p>
    <p>Where we do display a form for you to enter contact data and submit to us, the purpose for which we are inviting you to share your data will be
    presented along with the form, and it will not be used for any other purpose or shared with third parties unless we seek and get your explicit
    permission. We exercise due diligence in keeping secure whatever data we may collect from you.</p>
    <h3>Cookies</h3>
    <p>Currently, the only purpose for which we use http cookies is to set a flag in your browser, when you click "I Accept,"
        indicating that you have acknowledged and consented to our privacy policy so that we don't display the warning again for
    two years. If and when we do use other cookies, it will be solely for purposes of making the website work properly.</p>
    <h3>Our groups.io mailing list</h3>
    <p>CeasefireMV maintains an email group list that is hosted by <a href="https://groups.io/g/CeasefireMVforPalestine">groups.io</a>. Your
    use of groups.io's service is subject to their privacy policy, not ours.</p>
{% endblock %}
