{% extends 'wrapper.html.twig' %}
{% block title %}Questions and Answers | {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-center">{{ template }}</h2>

    <p><em>Here are our responses to some of the comments and questions that have been addressed to us, most of them by passersby
            at our weekly stand-outs in Vineyard Haven where we protest the Israeli genocidal aggression against Gaza, the West Bank, Syria and
            Lebanon.</em></p>

    <p><strong>You support Hamas. You support terrorism, rape and mutilation.</strong></p>
    <p>The notion that support for a ceasefire and opposition to genocide imply endorsement of whatever happened on October 7 is
        patently absurd. Moreover, those who make these allegations have yet to adduce actual evidence to substantiate them.</p>
    <p><strong>What about the 1200 Israeli victims of October 7?</strong></p>
    <p>The killing of countless tens of thousand of innocent Palestinians will do nothing to bring them back. But our position in
        regard to Hamas' October 7 attack warrants <a href="/october7">its own entire page</a>.
<p><strong>What about the hostages? Where is your sign demanding their release?</strong></p>
    <p>We wholeheartedly support exchange of the remaining Israeli hostages for Palestinian prisoners held by Israel. A necessary condition to bring
    that about is a permanent ceasefire. Concern for the fate of the hostages militates in favor of a ceasefire, not against it.</p>
    <p><strong>Where is your Israeli flag? There is another side to the story. Your position is not balanced.</strong></p>
        <p>Anyone who studies
        the history of Palestine/Israel learns that the establishment of Israel in 1948 was based on ethnic cleansing
            of the indigenous Palestinian population. Around 750,000 native Palestinians were driven from their homeland and never
            permitted to return. Their land was stolen, their villages demolished (see, for example, Pappé, Ilan. <strong><a href="https://www.simonandschuster.com/books/The-Ethnic-Cleansing-of-Palestine/Ilan-Pappe/9781851685554" target="_blank">The Ethnic Cleansing of Palestine</a></strong>. Oxford: Oneworld Publications, 2006).
            They have ever since been subjected to apartheid conditions, continuous oppression and violation of their human
            rights under Israeli occupation. Armed resistance and occasional acts of violent retaliation should come as no surprise.
    <p>We don't wave the Israeli flag because the policies and conduct of the Israeli state are those of a bloodthirsty,
    rogue terror state with no regard for international law or human rights.</p>
    <p>Our position is not "balanced" because the objective reality is anything but balanced. One would not demand
    a "balanced" treatment of the African slave trade or the Holocaust.</p>
<p><strong>My Polish grandfather was an avid Zionist who immigrated to Israel in the 1930s. The rest of his family remained in Poland and
        was exterminated by the Nazis. Were it not for Israel, I would not be here today. Only in Israel can Jews be safe.
    </strong></p>
    <p>It is true that the Zionist movement emerged in Europe the 1880s in response to genuine antisemitism. Jewish immigration from Europe into Palestine
    increased dramatically in the 1930s with the rise of Nazism.  None of that excuses the campaign of ethnic cleansing carried out by Zionist militias in 1947-1948,
        nor the brutal military occupation, apartheid system, land theft, bombing and massacres carried out by Israel ever since. The conduct of the Israeli
        government, particularly the war of extermination unleashed following October 7, 2023, is indeed reminiscent of Nazism. It is a horrible irony that Zionist
        descendants of Holocaust victims are carrying out Nazi-like atrocities against Palestinians, who had nothing to do with the Holocaust.
        This phenomenon, where a group that is persecuted pays
        it forward by doing it to another, is known in psychology as <em>ìdentification with the aggressor</em>.
   <p> As for whether Israel is the only safe place for Jews, this is highly debatable. The relentless persecution, oppression and
    dispossession of Palestinians by Israelis undermines rather than enhances Israeli security over the long term.</p>

     <p><strong>Israel has a right to exist, and a right to defend itself.</strong></p>
    <p>To paraphrase the historian Avi Shlaim:  the establishment of Israel in 1948 involved a monumental injustice against indigenous
    Palestinians, and that injustice has only been exacerbated over time. It has reached its cruel climax with Israel's genocidal rampage
    in Gaza, which has recently expanded to the West Bank, Lebanon and Syria.
    </p><p>
        As the veteran US diplomat Chas Freeman has observed, for much of world opinion
        the question is no longer whether Israel has a right to exist; it self-evidently does exist. Rather, the question is whether Israel
    <em>deserves</em> to exist. Given its horrendous criminal behavior, it is by no means a foregone conclusion that it does. A reasonable solution,
        albeit not easily achieved, would be the peaceful dismantlement of the Israeli state and the establishment of a single, secular,
        de-Zionized, democratic state with full social and political equality for all its inhabitants.</p>
    <p>The  often-invoked right to self-defense might be a tenable argument if we were talking about self-defense.
        But international law does not recognize any right to self-defense in illegally occupied territories, and there
    is nothing defensive about the countless war crimes being committed by Israel:  collective punishment of millions of civilians;
        the use of starvation as a weapon; the deliberate and systematic destruction of infrastructure; the bombing of schools and hospitals;
        incineration of defenseless refugees in tents; the deliberate targeting of journalists and aid workers.</p>

    <p><strong>Why aren't you talking about horrors taking place in the Sudan or Ukraine? You single out Israel, therefore you are antisemitic.</strong></p>
    <p>We oppose military violence and mass murder wherever they take place, and favor negotiated political settlements over war in Ukraine, Sudan
        and all war zones. The fact remains that no one can focus on everything all the time; one must choose. We choose this. The
    destruction and slaughter in Palestine are unique in scale and enabled by the US government. (To be sure, there are also CeasefireMV members who
        vehemently oppose the US government's provision of weapons that prolong the war in which Ukrainians are pawns in a struggle between US/NATO
        and Russia.)
    </p>
    <p><strong>Because you demand a ceasefire, you are antisemitic. A ceasefire will enable Hamas to recover and strike again.</strong></p>
    <p>The premises underlying this argument are that (1) genocide and ethnic cleansing will resolve the conflict, and  (2)
    that even if they could, that would somehow constitute a moral and legal justification. War crimes are war crimes no matter who perpetrates
    them or what justifications they claim.</p>
    <p>Moreover, the notion that mass murder is consistent with Jewish values is profoundly offensive, not to mention antisemitic.</p>
    <p><strong>Hamas' 1988 charter calls for the murder of Jews. They are terrorists and must be eliminated.</strong></p>
    <p>
        The 1988 Charter did indeed contain foul, antisemitic exhortations to violence against Jews. That was in 1988; this is {{ "now"|date("Y") }}. Hamas
        has long since distanced itself from this document, and even signaled a willingness to accept some form of two-state settlement (though they
        may have reconsidered this in  light of events since October 2023). This willingness is more than reasonable in light of the
        history of Israeli violence and oppression against them. Whether or not Israel has a right to exist, it in fact does exist.  Palestinian resistance to official,
        formal recognition of Israel is perfectly understandable to those who study this history, and this sort of diplomatic tension and ambiguity is not
        inconsistent with a negotiated settlement of some kind.
    </p>
    <p>For a better understanding of Hamas, we urge you to read what Hamas themselves have to say, such <a href="/files/Operation-Al-Aqsa.pdf">their own statement on the October 7 attack</a>
        (also  known as Operation Al-Aqsa Flood).</p>
    <p>As to the argument that they are terrorists and must be eliminated, the term "terrorist" is often applied selectively for political purposes. The US government
        regarded Nelson Mandela as a terrorist until it didn't (in 2008). The US has designated Hamas as terrorist, but has never applied that designation to the
        Salvadoran death squads of the 1970s and 1980s, but instead provided military aid to the Salvadoran military and security forces who had close ties with those
        death squads. We do not condone <em>any</em> military violence or atrocities. The fact remains that the magnitude of the terror inflicted by Israel on
        Palestine vastly exceeds whatever violence -- or terror -- Hamas militants have committed against Israel. Israel is nevertheless not deemed terrorist because it is
        a state actor that enjoys political support and a virtually limitless military budget provided by the United States.
    </p>
    <p><strong>What does the term Zionism actually mean?</strong></p>
    <p>This is a great question, and one whose answer depends on whom you ask.
        Derived from the word <em>Zion</em>, a biblical term for Jerusalem and the Land of Israel, the term Zionism was coined in 1890 by Nathan Birnbaum, an
        Austrian-Jewish journalist, political activist, and philosopher. Wikipedia <a href="https://en.wikipedia.org/wiki/Zionism" target="_blank">says</a>
        <blockquote class="blockquote ms-4 " style="font-size: inherit">
    <p>Zionism is an ethnocultural nationalist movement that emerged in Europe in the late 19th century which aimed to establish a national home for the Jewish people,
        pursued through the colonization of Palestine, a region roughly corresponding to the Land of Israel in Judaism, with central importance in Jewish history.
        Zionists wanted to create a Jewish state in Palestine with as much land, as many Jews, and as few Palestinian Arabs as possible.</p>
    <p>
    Zionism initially emerged in Central and Eastern Europe as a secular nationalist movement in the late 19th century, in reaction to newer waves of antisemitism and in
        response to the Haskalah, or Jewish Enlightenment. The arrival of Zionist settlers to Palestine during this period is widely seen as the start of the Israeli–Palestinian conflict.
        The Zionist claim to Palestine was based on the notion that the Jews' historical right to the land outweighed that of the Arabs.
    </p>

  </blockquote>
    <p>In our view, two salient points are worth emphasizing.
        <ol>
            <li>Zionism emerged as a reaction to genuine antisemitism and persecution, and was greatly accelerated by Nazism and the Holocaust.</li>
            <li>Zionism means different things to different people, and there are different strains -- political, cultural, religious.
                The political Zionism practiced by Israel, with US support, is a supremacist ideology that accords greater rights to Jews
            than to Arabs, and whose adherents have no scruples about abusing, displacing and killing Palestinians to achieve their objectives.
                When we say we are anti-Zionist, this is the Zionism we're talking about.
            </li>
        </ol>
    <p><em>Christian Zionism</em> is a religious form with theological subtypes <em>transactional</em> and <em>dispensationalist</em>.
    These are essentially based on biblical prophecies and not rooted in love of Jews or Israelis. Christian Zionists are far more
        numerous than Jewish Zionists and wield great political influence in the United States. See the britannica.com
        <a href="https://www.britannica.com/topic/Christian-Zionism" target="_blank">article on Christian Zionism</a>.</p>

    <p><strong>You are idiots.</strong></p>
    <p>We disagree. But we are glad to discuss these questions with anyone who is willing to engage in civil conversation.</p>

{% endblock %}
