{% extends 'wrapper.html.twig' %}
{% block content %}
    <h2 class="text-center">{{ template }}</h2>

    <p>Here are our responses to a few of the comments and questions that have been addressed to us, most of them by motorists
    passing by as we stand out in Vineyard Haven to protest the Israeli genocide against Gaza</p>

    <p><strong>You support Hamas. You support terrorists, rape and mutilation.</strong></p>
<p>Pellentesque laoreet ipsum et mi volutpat tempor. Vivamus placerat venenatis tincidunt. Pellentesque bibendum, tortor non ultricies sollicitudin, risus ipsum placerat nisi, a dictum ligula dui nec purus. Aliquam ac semper quam. Quisque nisl nisi, fermentum at interdum ac, sodales tempus massa.
    </p>
    <p><strong>What about the 1200 Israeli victims of October 7? </strong></p>
    <p>Suspendisse tempor nibh efficitur, consectetur nunc vitae, sollicitudin mi. Vivamus ac bibendum neque, efficitur ultricies enim. Nunc vitae congue turpis. Praesent sit amet diam eu purus pretium pellentesque. Nulla viverra dictum neque, a scelerisque ex gravida nec. Aliquam erat volutpat. Etiam porta maximus justo vel laoreet. Morbi pulvinar rhoncus ligula posuere rhoncus.</p>
<p><strong>What about the hostages? Where is your sign demanding their release?</strong></p>
    <p>
        Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.
    </p>
    <p><strong>There is another side to the story. Your position is not balanced.</strong></p>
        <p>Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.</p>
<p><strong>My grandfather was an avid Zionist in Poland in the 1930s, and he emigrated to Israel. The rest of his family remained in Poland and
        was exterminated by the Nazis. Were it not for Israel, I would not be here today. Only in Israel can Jews be safe.
    </strong></p>
    <p>
        Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.

    <p><strong>Because you demand a ceasefire, you are antisemitic.</strong></p>
    <p>Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.</p>
<p><strong>What does the term Zionism actually mean?</strong></p>
    <p>
        Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.
    </p>
    <p><strong>You are idiots.</strong></p>
    <p>We disagree.</p>

{% endblock %}
