{% extends 'wrapper.html.twig' %}
{% block content %}
    <h2 class="text-center">{{ template }}</h2>

    <p>Here are our responses to a few of the comments and questions that have been addressed to us, most of them by motorists
    passing by as we stand out in Vineyard Haven to protest the Israeli genocide against Gaza</p>

    <p><strong>You support Hamas. You support terrorists, rape and mutilation.</strong></p>
    <p>The notion that support for a ceasefire and opposition to genocide imply endorsement of whatever happened on October 7 is
        patently absurd.</p>
    <p><strong>What about the 1200 Israeli victims of October 7?</strong></p>
    <p>The slaughter of tens of thousand of innocent Palestinians will do nothing to bring them back.</p>
<p><strong>What about the hostages? Where is your sign demanding their release?</strong></p>
    <p>We fervently wish for a deal to exchange hostages for Palestinian prisoners held by Israel. A necessary condition to bring
    that about is a ceasefire. Concern for the fate of the hostages militates in favor of a ceasefire, not against it.</p>
    <p><strong>Where is your Israeli flag? There is another side to the story. Your position is not balanced.</strong></p>
        <p>Anyone who studies
        the history of Palestine/Israel learns that the establishment of Israel in 1948 was based on ethnic cleansing
            of the indigenous Palestinian population. Over 700,000 native Palestinians were driven from their homeland and never
            permitted to return. Their land was stolen, their villages demolished (see, for example, Pappé, Ilan. <strong><a href="https://www.simonandschuster.com/books/The-Ethnic-Cleansing-of-Palestine/Ilan-Pappe/9781851685554" target="_blank">The Ethnic Cleansing of Palestine</a></strong>. Oxford: Oneworld Publications, 2006).
            They have ever since been subjected to apartheid conditions, continuous oppression and violation of their human rights under Israeli occupation. Armed resistance and occasional
    acts of violent retaliation should come as no surprise.
    <p>We don't wave the Israeli flag because the policies and conduct of the Israeli state are those of a bloodthirsty,
    rogue terror state with no regard for international law or human rights.</p>
    <p>Our position is not "balanced" because the objective reality is anything but balanced. One would not demand
    a "balanced" treatment of the African slave trade or the Holocaust.</p>
<p><strong>My Polish grandfather was an avid Zionist who emigrated to Israel in the 1930s. The rest of his family remained in Poland and
        was exterminated by the Nazis. Were it not for Israel, I would not be here today. Only in Israel can Jews be safe.
    </strong></p>
    <p>It is true that the Zionist movement emerged in the 1880s in response to genuine antisemitism. Jewish immigration from Europe into Palestine
    increased dramatically in the 1930s with the rise of Nazism. None of that excuses the campaign of ethnic cleansing carried out by Zionist militias in 1947-1948,
        nor the brutal military occupation, apartheid system, land theft, bombing and massacres carried out by Israel ever since. The conduct of the Israeli
        government, particularly the war of extermination unleashed following October 7, 2023, is indeed reminiscent of Nazism. It is a horrible irony that Zionist
        descendants of Holocaust victims are carrying out Nazi-like atrocities. This phenomenon, where a group that is persecuted pays it forward by doing it to another,
        is known in psychological terminology as <em>ìdentification with the aggressor</em>.
   <p> As for whether Israel is the only safe place for Jews, this is debatable. More than likely, the relentless persecution, oppression and dispossession of
    Palestinians by Israelis  undermines rather than advances the cause of Israeli security over the long term.</p>

     <p><strong>Israel has a right to exist, and a right to defend itself.</strong></p>
    <p>Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.</p>

    <p><strong>Why aren't you talking about horrors taking place in the Sudan or Ukraine? You single out Israel, therefore you are antisemitic.</strong></p>
    <p>Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.</p>

    <p><strong>Because you demand a ceasefire, you are antisemitic.</strong></p>
    <p>Quisque sed orci id dui venenatis facilisis. Praesent ac commodo lacus, nec fermentum turpis. Aenean venenatis metus ut sollicitudin pulvinar. Suspendisse tortor ante, aliquet sit amet nisi ac, tempus blandit est. Nullam elementum eu quam in lacinia. Nunc vel consectetur ligula, ac pharetra massa.</p>
    <p><strong>Hamas' 1988 charter calls for the murder of Jews. They are terrorists and must be eliminated.</strong></p>
    <p>
        Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.
    </p><p><strong>What does the term Zionism actually mean?</strong></p>
    <p>
        Praesent id velit ligula. Donec nulla mauris, vulputate a porta eu, iaculis eget arcu. Nunc eget nulla tincidunt, tempus odio in, feugiat neque. Aliquam et facilisis nunc.
    </p>
    <p><strong>You are idiots.</strong></p>
    <p>We disagree.</p>

{% endblock %}
