{% extends 'wrapper.html.twig' %}
{% block title %}Further resources | {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-center">Further Resources</h2>
<p class="alert border border-success"><em>
        Compiling a comprehensive list of good resources on Palestine/Israel is a daunting task. There is a vast
        and ever-increasing number of excellent books, documentary films, websites, etc., produced by brilliant
        and courageous journalists, activists and scholars. We of CeasefireMV are grateful for their efforts. Thanks to them, public opinion
        and understanding has advanced tremendously in the last 25 years, and especially in the aftermath of October 7, 2023. The following
        list is only a minimal start, presented in no particular order. We intend to continue to work on it.
    </em></p>

    <h3 class="text-center" id="local">local resources and organizations</h3>
    <p><strong><a href="https://linktr.ee/sema.freepalestine" target="_blank">The Southeast Massachusetts Coalition For a Free Palestine</a></strong>,
        pro-Palestinian activists located on the Cape and Islands, centered primarily in New Bedford.
    </p>
    <p><strong><a href="https://www.olivebranchfairtrade.org/" target="_blank">Olive Branch Fair Trade</a></strong> in Vineyard Haven on Martha's Vineyard.
        Shop Olive Branch Fair Trade for ethical apparel, olive oils, and more. Support artisans from Palestine and beyond. Visit or shop online.</p>
    <p><strong>Expanding the Conversation</strong> is a group of islanders
        that hosts a weekly community education and discussion group on Israel/Palestine
        Mondays at 5:30 at the West Tisbury Library on the Vineyard. All are welcome. <a href="mailto:expandingtheconversation@gmail.com">expandingtheconversation@gmail.com</a></p>

    <p><strong><a href="https://jvp-boston.org/" target="_blank">JVP Boston</a></strong>, the Boston chapter of the national
        <strong><a href="https://jewishvoiceforpeace.org/" target="_blank">Jewish Voice for Peace</a></strong>.</p>

    <h3 class="text-center" id="websites">websites and blogs</h3>
    <p><strong><a href="https://mondoweiss.net/" target="_blank">Mondoweiss</a></strong>: news and opinion about Palestine, Israel,  and the United States.</p>
    <p><strong><a href="https://electronicintifada.net/ " target="_blank">The Electronic Intifada:</a></strong>
         independent news publication and educational resource focusing on Palestine, its people, politics, culture and place in the world.
    </p>
    <p><strong><a href="https://www.middleeasteye.net/" target="_blank">Middle East Eye</a></strong>: news, opinion, video and analysis with a focus on the Middle East and wider region.</p>

    <p><strong><a href="https://bdsmovement.net/" target="_blank">BDS: Boycott, Divestment, Sanctions</a></strong>
        is  Palestinian-led movement for freedom, justice and equality. BDS upholds the simple principle that Palestinians are entitled to the same rights as the rest of humanity.
    </p>
    <h3 class="text-center" id="documentaries">documentary films, online videos</h3>
    <!-- 1948: Creation and Catastrophe -->
    <div>
        <p>
            <a href="https://www.youtube.com/watch?v=Bwy-Rf15UIs" target="_blank">
                <strong>1948: Creation and Catastrophe</strong>
            </a>  reveals the events of 1948 through personal recollections of Palestinians and Israelis, shedding light on the establishment of Israel and its impact.
        </p>
    </div>

    <!-- Till Kingdom Come -->
    <div>
        <p>
            <a href="https://www.tillkingdomcomefilm.com/" target="_blank">
                <strong>Till Kingdom Come</strong>
            </a> explores the alliance between American Evangelicals and the Israeli right-wing, examining how financial and political support is driven by prophecy beliefs.
        </p>
    </div>
    <!-- The Occupation of the American Mind -->
    <div>
        <p>
            <a href="https://www.occupationmovie.org/" target="_blank">
                <strong>The Occupation of the American Mind</strong>
            </a> is a 2016 documentary that examines how Israeli public relations efforts have shaped American media coverage and public perception of the
            Israeli–Palestinian conflict. Narrated by Roger Waters, it delves into the strategic communication campaigns influencing U.S. opinion. The full documentary is available to watch on
            <a href="https://www.youtube.com/watch?v=dP0-YohJR-g" target="_blank">YouTube</a>.
        </p>
    </div>


    <!-- Israelism -->
    <div>
        <p>
            <a href="https://www.israelismfilm.com/" target="_blank">
                <strong>Israelism</strong></a> follows young American Jews grappling with their support for Israel amidst growing awareness of Palestinian rights, documenting their journey from ardent Zionists to vocal activists.
        </p>
    </div>

    <!-- Promises and Betrayals: Britain and the Struggle for the Holy Land -->
    <div>
        <p>
            <a href="https://www.youtube.com/watch?v=PZcgIj1663I" target="_blank">
                <strong>Promises and Betrayals: Britain and the Struggle for the Holy Land</strong>
            </a> examines how British double-dealing during World War I ignited the conflict between Arabs and Jews in the Middle East, revealing historical secrets and fascinating footage.
        </p>
    </div>
    <div><p>
        <strong><a href="https://www.youtube.com/watch?v=D-5cuqyRM9w" target="_blank">Dr. Gabor Maté answers a hostile question about October 7th</a></strong> during a conference
        in this video clip. This remarkable confrontation, lasting under 13 minutes, addresses the Israeli mentality that regards Palestinians as animals and
        believes atrocity propaganda.
        </p>
    </div>
    <div><p>
        <strong><a target="_blank" href="https://www.youtube.com/watch?v=N0ctNhgw-u0">We Must Not Look Away: Confronting the Atrocities Against Palestinian Lives</a></strong>.
        The Society for the Study of Peace, Conflict, and Violence (Division 48 of the American Psychological Association) hosted this webinar
        on March 3, 2025, with speakers Francesca Albanese and Gabor Maté.
        </p>
    </div>

    <h3 class="text-center mt-2" id="books">books</h3>
    <!-- Helena Cobban et al.: Understanding Hamas and Why That Matters -->
    <div>
        <p>
            Cobban, Helena, et al. <a href="https://orbooks.com/catalog/understanding-hamas/" target="_blank"><em>Understanding Hamas and Why That Matters</em></a>. OR Books, 2024.
        </p>
    </div>

    <!-- Finkelstein, Norman G.: The Holocaust Industry -->
    <div>
        <p>
            Finkelstein, Norman G. <a href="https://www.penguinrandomhouse.com/books/233020/the-holocaust-industry-by-norman-g-finkelstein/" target="_blank"><em>The Holocaust Industry: Reflections on the Exploitation of Jewish Suffering</em></a>. Verso Books, 2000.
        </p>
    </div>

    <!-- Rashid Khalidi: The Hundred Years' War on Palestine -->
    <div>
        <p>
            Khalidi, Rashid. <a href="https://us.macmillan.com/books/9781627798556/thehundredyearswaronpalestine" target="_blank"><em>The Hundred Years' War on Palestine: A History of Settler Colonialism and Resistance, 1917–2017</em></a>. Metropolitan Books, 2020.
        </p>
    </div>

    <!-- Ilan Pappé: The Ethnic Cleansing of Palestine -->
    <div>
        <p>
            Pappé, Ilan. <a href="https://books.apple.com/us/book/the-ethnic-cleansing-of-palestine/id1485943690" target="_blank"><em>The Ethnic Cleansing of Palestine</em></a>. Oneworld Publications, 2006.
        </p>
    </div>

    <!-- Ilan Pappé: The Biggest Prison on Earth -->
    <div>
        <p>
            Pappé, Ilan. <a href="https://oneworld-publications.com/work/the-biggest-prison-on-earth/" target="_blank"><em>The Biggest Prison on Earth: A History of the Occupied Territories</em></a>. Oneworld Publications, 2017.
        </p>
    </div>


{% endblock %}
