{% extends 'base.html.twig' %}
{% block title %}MV For Palestine{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center">
        <div style="max-width: 600px;">
            <h2 class="my-4">Not found</h2>
            <p class="my-4" style="min-height: 400px; ">
            <!-- route is {{ app.current_route }}<br> -->
             {{ status }}<br>
            </p>
        </div>
    </div>

{%  endblock %}
