{% extends 'wrapper.html.twig' %}
{% block title %} Writings | {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-center">{{ template }}</h2>
    <p>MV For Palestine's 100th consecutive weekly standout got coverage in the <a href="https://vineyardgazette.com/news/2025/10/21/vineyarders-stand-out-palestine" target="_blank">Vineyard Gazette</a>
        and the <a href="https://www.mvtimes.com/2025/10/30/100-weeks-protest-two-years-grief/" target="_blank">MV Times.</a>
        Amy Hartford, one of our founding members, wrote <a href="https://www.mvtimes.com/2025/11/10/mv-palestine-supports-equal-rights-everyone/">this letter to the editor</a>
        in response to the latter article.
    </p>
    <p>
    <a href="/broitmann-op-ed-misleading-and-too-little-too-late">Rabbi Broitmann's op-ed: misleading, and too little too late.</a> David Mintz, a founding member of MV For Palestine, wrote this rebuttal
    to an op-ed that was published in the MV Times.
    </p>
    <p>In a Letter to the Editor (August 7, 2024), Bob Edmunds <a href="https://www.mvtimes.com/2024/08/07/right-self-determination/" target="_blank">calls attention to the Archbishop of Canterbury's formal statement</a>
        calling on Israel to end its unlawful occupation of Palestine.</p>
    <p>Linda Cohen's LTE <a href="https://www.mvtimes.com/2024/08/02/a-respectful-vigil/" target="_blank">sets the record straight</a> regarding
        <a href="https://www.mvtimes.com/2024/07/31/celebration-jewish-culture-voice-protest/" target="_blank">MV For Palestine's protest at the Jewish Culture Festival</a> on July 29, 2024.</p>
    <p>David Mintz <a href="https://www.mvtimes.com/2024/08/02/protestors-not-antisemites/" target="_blank">responds to the endlessly repeated lie</a> that our opposition to genocide, as expressed at this same protest,
        is antisemitic.</p>
    <p><strong>We support the students!</strong> This <a href="https://www.mvtimes.com/2024/05/09/commend-students-courage/" target="_blank"> letter to the editor</a> of the MV Times
        (May 9, 2024) expresses our support for the courageous college students who
        protested the US-backed genocide in 2024, demanding that their institutions divest from corporations
        that facilitate or profit from it.</p>
    <p>The MV Times declined to publish our rebuttal of another reader's letter that criticized the above-mentioned letter
        in support of the student movement. So MV For Palestine member David Mintz posted it on his personal blog instead:
        <a target="_blank" href="https://blog.vernontbludgeon.com/understanding-israel-palestine-requires-awareness-of-history/">
            Understanding Israel-Palestine requires an awareness of history</a></p>

    <p><strong>A vote for Genocide Joe is a vote for genocide.</strong> The MV Times published
        <a href="https://www.mvtimes.com/2024/02/16/vote-biden-vote-genocide/">this letter</a>
        on February 15, 2024. Originally entitled "A vote for Biden is a vote
        for genocide," the MV Times subsequently changed the heading to the misleading and far more bland "Pro-Biden vote is wasted vote"
        (the original is <a href="https://web.archive.org/web/20240216180609/https://www.mvtimes.com/2024/02/16/vote-biden-vote-genocide/" target="_blank">
            available from the Wayback Machine</a>).
    </p>
    <p>
        In January 2024, the MV Times published two letters to the editor by our members:  <a target="_blank" href="https://www.mvtimes.com/2024/01/26/film-highlight-resource-theft/">one by Katherine Scott</a>  and
        <a href="https://www.mvtimes.com/2024/01/24/biden-harris-support-u-n-genocide-case/">one by Linda Cohen</a>. The former
        letter discusses how the theft of oil and gas is driving the US-backed Israeli war on Gaza. The latter explains that
        Biden's support for the genocidal war makes it morally unacceptable to vote for him.
    <p>MV For Palestine also thanks the Times for publishing in November 2023
        <a  target="_blank" href="https://www.mvtimes.com/2023/11/15/call-immediate-ceasefire-gaza/">a letter by David Mintz</a>
        denouncing the war of extermination and calling for an immediate ceasefire.</p>

    <p>In March 2024 Katherine Scott, a MV For Palestine member, offered a piece
        titled 'Palestine/Israel: Media Mislead Public and Maintain
        Historical Myths' to the MV Times as an op-ed. The Times declined to
        publish the piece, so we  <a href="/palestine-israel-media-mislead-public-and-maintain-myths">present it here</a>.</p>

    <h3 class="text-center py-3">Anti-Zionism is not anti-Judaism</h3>
    <p>
        MV For Palestine once again thanks the MV Times for publishing <a
                href="https://www.mvtimes.com/2023/11/30/for-a-permanent-ceasefire/" target="_parent">this op-ed piece</a>
        in which we respond to the false conflation of opposition to genocide with antisemitism.
    </p>

{% endblock %}
