<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>{% block title %}CeasefireMV{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap(['app',]) }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <div class="container" style="max-width: 1200px">
        <div class="d-flex text-center">
            <div><a href="/"><img id="logo"  class="img-fluid mx-0" style="max-height:220px" src="{{ asset('images/logo.png') }}"></a></div>
            <div class="p-2 flex-grow-1 align-self-end">
                <h2 class="mt-0 py-1" style="background-color: red; color:white">Stop the genocide! Let Gaza live!</h2>
                <h1>Ceasefire MV</h1>
                <!-- nav -->
                {%  include 'menu/main.html.twig' %}
            </div>
        </div>
            {% block body %}{% endblock %}
    </div>
    <div class="container" style="max-width: 1200px" ><!-- hidden -->
        <!-- see if consent cookie is set; if not, display -->
        <!-- event handler on button click: hide button, show acknowledgment -->
        <footer id="footer" style="max-width:1200px; position:sticky; left:0; bottom: 0;"
                class="w-100 bg-body-tertiary text-center footer mt-auto py-1">
            <h2>debug</h2>

            {% set current_template =   app.current_route_parameters.template ?? null %}
            privacy consent cookie detected: {% if app.request.cookies.get("PRIVACY_CONSENT") %}yes{% else %}no{% endif %}<br>
            current route: {{ app.request.attributes.get('_route') }}<br>
            <div class="container">

                <p> {% if not app.request.cookies.get("PRIVACY_CONSENT") %} {# no consent cookie exists, or is not truthy #}
                    {% if current_template != 'privacy' %}
                <p class="text-body-secondary">You can read our privacy/cookie policy, or accept it without reading.</p>
                    <a href="/privacy"  title="go to privacy/cookie policy" id="show-policy" class="btn btn-outline-primary">Show me</a>
                {% endif %}
                <button title="accept privacy/cookie policy" id="consent-button" class="btn btn-success">I accept the privacy policy</button>
                <span hidden id="consent-thank-you">
                    <svg id="check-icon" class="text-success" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg> Thank you.
                </span>
                <script type="module" src="{{ asset('consent.js') }}"></script>
                {% endif %}


            </div>

                {# endif #}

        </footer>
    </div>

    </body>
</html>
