<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CeasefireMV{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <div class="container" style="max-width: 1200px">
        <div class="d-flex text-center">
            <div><a href="/"><img id="logo"  class="img-fluid mx-0" style="max-height:220px" src="{{ asset('images/logo.png') }}"></a></div>
            <div class="p-2 flex-grow-1 align-self-end">
                <h2 class="mt-0 py-1" style="background-color: red; color:white">Stop the genocide! Let Gaza live!</h2>
                <h1>Ceasefire MV</h1>
                <!-- nav -->
                {%  include 'menu/main.html.twig' %}
            </div>
        </div>
            {% block body %}{% endblock %}
    </div>
    <div class="container" style="max-width: 1200px" ><!-- hidden -->
        <!-- script: see if consent cookie is set; if not, display -->
        <!-- event handler on button: remove div -->
        <footer id="footer" style="max-width:1200px; position:sticky; left:0; bottom: 0;"
                class="w-100 bg-body-secondary text-center footer mt-auto py-1">
            <div class="container">
                <p class="text-body-secondary">Cookie/privacy notice will go here (dismissable)</p>
                <button id="dismiss-warning" class="btn btn-success">ok</button>
            </div>
        </footer>
    </div>
    <script>
        document.getElementById("dismiss-warning").addEventListener("click", function(){
            console.log("shit is real");
            document.getElementById("footer").remove();
        })
    </script>
    </body>
</html>
