{% extends 'base.html.twig' %}
{%  block body %}
<div class="d-flex justify-content-center">
    <div class="p-2" style="max-width: 700px;">
        {%  block content %}{% endblock %}
    </div>
</div>
{%  endblock %}
