{% extends 'base.html.twig' %}
{%  block body %}
<div class="d-flex justify-content-center border">
    <div class="border border-1 p-2" style="max-width: 600px;">
        {%  block content %}{% endblock %}
    </div>
</div>
{%  endblock %}
