{# nav routes and names are globals defined in config/packages/twig.yaml #}
<nav id= "main-nav" class="navbar navbar-expand-lg  mt-0 "> <!-- bg-body-tertiary border border-success  rounded  -->
    <div class="container-fluid">

         <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-1 mb-lg-0 ">
                    {% for item in main_nav %}
                    <li class="nav-item">{#  should be possible to simplify this, but... #}<a class="nav-link{%
                        if (app.current_route_parameters and app.current_route_parameters['template'] == item.label)
                        or  (app.current_route_parameters and item.template is defined and app.current_route_parameters['template'] == item.template)
                            or app.current_route == item.label %} active text-decoration-underline" aria-current="page" {% else %}"{% endif %} href="{{ item.route }}">{{ item.label }}</a></li>
                {% endfor %}
                </ul>
               {# current route is {{ app.request.attributes.get('_route') }} #}
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
